@import "tailwindcss";

@font-face {
  font-family: 'SK-Modernist';
  src: url('./assets/fonts/SK-Modernist-Regular.ttf') format('truetype');
  font-style: medium;
}
html {
  scroll-behavior: smooth;
}